MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=invernadero_iot
CORS_ORIGINS=http://localhost:5173
ENABLE_MQTT=false
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_BASE_TOPIC=invernadero
