node_modules/
dist/
venv/
.venv/
__pycache__/
*.pyc
.env
.DS_Store
*.tsbuildinfo
arm64/build/
arm64/results/
arm64/fase1/build/
arm64/fase1/results/
arm64/fase2/build/
arm64/fase2/results/
arm64/fase2/lecturas.csv
arm64/column_config.txt
backend/lecturas.csv
