BACKEND_URL=http://localhost:8000
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_BASE_TOPIC=invernadero
DEVICE_ID=raspi-01
ENABLE_GPIO=false
POLL_INTERVAL_SECONDS=15
GPIO_PUMP_AREA_1=17
GPIO_PUMP_AREA_2=27
GPIO_FAN=22
GPIO_LIGHTS=23
GPIO_BUZZER=24