# Conectividad con la API REST del Backend
BACKEND_URL=http://localhost:8000

# Conectividad MQTT (Broker EMQX de Desarrollo)
# Debe coincidir exactamente con la del backend
MQTT_HOST=broker.emqx.io
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_BASE_TOPIC=grupo17/invernadero
DEVICE_ID=raspi-01

# Simulación física (si corre en PC de desarrollo, poner false)
ENABLE_GPIO=false
POLL_INTERVAL_SECONDS=15

# Mapeos de Pines GPIO (Raspberry Pi 3)
GPIO_PUMP_AREA_1=17
GPIO_PUMP_AREA_2=27
GPIO_FAN=22
GPIO_LIGHTS=23
GPIO_BUZZER=24

# Pines de Pantalla LCD 16x2
LCD_RS=5
LCD_E=6
LCD_D4=12
LCD_D5=13
LCD_D6=19
LCD_D7=26

# Pines de Botones Físicos de Control
BUTTON_MODE=16
BUTTON_MANUAL=20
BUTTON_AUTO=21